#side-bar-extension-root {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

.table-container-mgmt {
  height: 55em;
}
.table-container-mgmt-10 {
  height: 25em;
}
table.custom-scroll.custom-scroll {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}
table.custom-scroll thead {
  /* head takes the height it requires, 
  and it's not scaled when table.custom-scroll is resized */
  flex: 0 0 auto;
  width: calc(100% - 0.9em);
}
table.custom-scroll tbody {
  /* body takes all the remaining available space */
  flex: 1 1 auto;
  display: block;
  overflow-y: scroll;
}
table.custom-scroll tbody tr {
  width: 100%;
}
table.custom-scroll thead,
table.custom-scroll tbody tr {
  display: table;
  table-layout: fixed;
}
/* decorations */

table.custom-scroll {
  border: 1px solid lightgrey;
}
table.custom-scroll thead th {
  border-right: 1px solid !important;
  border-color: whitesmoke !important;
}
table.custom-scroll tbody tr td {
  border-right: 1px solid !important;
  border-color: rgb(229, 231, 235) !important;
}
.w-170 {
  width: 170px;
}

.w-100 {
  width: 100px;
}

.w-70 {
  width: 70px;
}

.w-150 {
  width: 150px;
}
.pt-16 {
  padding-top: 16px;
}

.pt-8 {
  padding-top: 8px;
}

.ml-4 {
  margin-left: 4px;
}

.comment {
  word-wrap: break-word;
}

.system-comment {
  color: #4f9bc5;
  text-transform: uppercase;
  font-weight: 500;
}

.bg-light-green {
  background-color: lightgreen;
}

.main-layout-mgmt {
  /* width: 80%;
  box-shadow: rgb(0 0 0 / 62%) 0px 0px 5px;
  position: absolute;
  left: 10%;
  top: 5%;
  height: 870px;
  overflow: auto; */
  /* width: 50px; */
  box-shadow: rgb(0 0 0 / 70%) 5px 0px 5px;
  /* height: 50px; */
  background: transparent;  
  top: 5px;
  left: 240px;
  width: 99%;
  margin: 0 auto;
  /* box-shadow: 0px 0px 5px #0000009e; */
  color: rgb(42,46,52);
}
.main-body-mgmt {
  bottom: 15px;
  width: 1700px;
  height: 900px;
  box-shadow: 0px 0px 5px #0000009e;
  /* background: #2a2e34;
  color: #FFFFFF; */
}
.main-body-mgmt input,
.main-body-mgmt textarea {
  color: #2a2e34 !important;
}

.main-body-mgmt .grid {
  /* background: #2a2e34;
  color: #FFFFFF; */

}

.custom-button-expand {
  background: white;
  border-radius: 50%;
  bottom: 60px;
  left: 20px;
  height: 90px;
  width: 90px;
  border-radius: 4px;
}

.border-hidden {
  /* border-radius: 50%; */
}


.w-220 {
  width: 220px;
}
.w-120 {
  width: 120px;
}
.w-150 {
  width: 150px;
}
button:disabled {
  opacity: 0.8;
  background-color: gray !important;
}

tr.bg-green-200 td {
  background: #FAF0E6;
}

.w-30,
th.w-30 {
  width: 30px;
}
.w-40,
th.w-40 {
  width: 40px;
}

th.w-100 {
  width: 100px;
}

/* clickup */

/* .main-layout-mgmt {
  background-color:  #2a2e34;;
} */

.main-layout-mgmt table.table-format-dark-clickup,
.main-layout-mgmt table.table-format-dark-clickup th,
.main-layout-mgmt table.table-format-dark-clickup tr,
.main-layout-mgmt table.table-format-dark-clickup td {
  background-color:  #2a2e34 !important;
  color: #2a2e34 !important;
}

.main-layout-mgmt th, 
.main-layout-mgmt td,
.main-layout-mgmt td a{
  color: #2a2e34;
}


.comment-full {
  max-height: 600px;
  overflow: auto;
}

.comment-full ul {
  border-bottom: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 8px;
}

.comment-full ul li {
  font-size: 16px;
  font-weight: 600;
  text-align: right;
}

.bg-fb td {
  background-color: #FFB6C1;
}

h4.parent {
  font-weight: 600;
}


/* table */
/* html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
} */



.css-1nmdiq5-menu {
  color: #000;
}

.css-1nmdiq5-menu span{
  color: #000;
}
.css-1nmdiq5-menu label {
  color: #000;
}

tr.dev-test {
  background-color: beige;
}

div[id="react-select*"],
div[id="react-select*"] div,
div[id="react-select*"] span,
div[id="react-select*"] label {
  color: #000;
}

.over-due-date {
  background-color: #FFE4E1;
}

.over-due-date {
  background-color: #FFE4E1;
}

.due-date {
  background-color: #F0FFF0;
}